*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    line-height: 1.6;

}

header {

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;

}

.logo{
    font: 1.5rem;
    font-weight: bold;
    color: #333;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

#hero {
    padding-top: 2rem;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url('img/portada-m.jpeg');
     background-size: cover;
     background-position: center center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     color: white;
     padding: 0 1rem;
}

#hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;

}

.boton{
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;

}

.boton:hover{
    background-color: #fc5252;

}


#Familia{
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;

}

#Familia h2{
    text-align: center;
    margin-bottom: 2rem;

}

.Familia-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;

}

.Familia-card{
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.Familia-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.Familia-card h3{
    padding: 1rem;
    color: #333;

}

.palabras-familia{
    color: #1b1b1b;
    font-weight: bold;
    padding: 0 1rem;
}

.Familia-card button{
    margin: 1rem;
    padding: 1.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.Familia-card button:hover{
    background-color: black;

}


#Canciones {
     padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

#Canciones h2{
     text-align: center;
    margin-bottom: 2rem;

}

.canciones{
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.canciones_{
       background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.palabras_canciones{
      color: #1b1b1b;
    font-weight: bold;
    padding: 0 1rem;
}
#hero-m {
    padding-top: 2rem;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url('img/portada-m.jpeg');
     background-size: cover;
     background-position: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     color: white;
     padding: 0 1rem;
}











#hero-f {
    padding-top: 2rem;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url('img/portada-m.jpeg');
     background-size: cover;
     background-position: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     color: white;
     padding: 0 1rem;
}

#foticos{
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),

}

#foticos h2{
    text-align: center;
    margin-bottom: 2rem;

}

.foticos-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 1rem;

}

.foticos-card{
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.foticos-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.foticos-card h3{
    padding: 0 rem  1rem;
    color: #333;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    

}

.palabras-foticos{
    color: #1b1b1b;
    font-weight: bold;
    padding: 0 1rem;
}







@media screen and (max-width: 430px){
    nav {
        flex-direction: column;
        padding: 1rem;

    }

    .nav-links{
        flex-direction: column;
        text-align: center;
        margin-top: 1rem;
        gap: 1rem;
    }
}